/* 전체 컨테이너 스타일 */
.managerInfo-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  /* 사용자 관리 제목 스타일 */
  .user-management-section h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* 밑줄 추가 */
  .underline {
    margin-top: 5px;
    height: 2px;
    background-color: #333;
    width: 100%;
  }
  
  /* 정보 영역 */
  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 수평으로 정렬 */
    margin-top: 20px;
  }
  
  /* 각 영역 스타일 */
  .user-id {
    flex: 0.7; /* 크기 줄이기 */
    margin: 10px;
  }
  
  .manager-detail {
    flex: 2; /* 이 영역이 더 많은 공간을 차지하도록 */
    margin: 10px;
  }
  
  .button-container {
    flex: 0.7; /* 크기 줄이기 */
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-top: 300px; /* 버튼을 하단으로 더 이동 */
  }
  
  /* user-id 스타일 */
  .user-id h1 {
    font-size: 22px;
    font-weight: bold;
  }
  
  /* manager-detail 스타일 */
  .manager-detail p {
    margin: 5px 0;
  }
  
  /* 버튼 스타일 */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px; /* 버튼 크기 줄임 */
    cursor: pointer;
    font-size: 14px; /* 텍스트 크기 줄임 */
  }
  