.mypage-body {
  display: inline-flex;
}

.sidebar-container{
  width: 250px;
}

.match-info-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  }
  
  .info-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    margin: 5px 0;
  }
  